{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <!-- Navigation Link -->
      <div class="mb-3 d-flex justify-content-between">
        <a href="{% url 'step_two' %}" class="btn btn-secondary">Back</a>
        <a href="{% url 'step_four' %}" class="btn btn-primary">Next</a>
      </div>

      <!-- Form Section -->
      <form method="post" class="form-group">
        <h3 class="mb-4">STEP THREE</h3>
        {% csrf_token %}

        <!-- Company Name Selection -->
        <div class="mb-3">
          <label for="company-select" class="form-label"
            >Select the Company name</label
          >
          <select name="option" id="company-select" class="form-select">
            {% for option in options %}
            <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
          </select>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Finish</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
